@media only screen and (min-width: 901px) {
  aside {
    display: none;
  }

}

@media only screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 150px);
  }

  #hero {
    .hero-content {
      h1 {
        font-size: 65px;
      }

      p {
        font-size: 14px;
      }

      a {
        padding: 13px 25px;
        font-size: 15px;
      }
    }

  }

  #collection {
    height: fit-content;

    .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      justify-content: center;
      align-items: center;
    }
  }

  #quality {
    height: fit-content;

    .quality-types {
      margin-top: -240px;
      gap: 15px;

      &.row {
        flex-direction: column;
      }

      .type {
        border-radius: 5px;
        height: 160px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        img {
          margin-bottom: 0;
          line-height: 2;
        }

        .type-info {
          flex-basis: 70%;
        }

        h2 {
          margin-bottom: 10px;
        }
      }
    }

  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 120px);
  }

  header {
    nav {
      ul {
        li {
          margin-right: 1.8rem;
        }
      }
    }
  }

  #hero {
    .hero-content {
      h1 {
        font-size: 60px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  #work {
    height: fit-content;
    margin-bottom: 44px;

    .lines {
      height: 25px;
      margin-bottom: 48px;
    }

    .row {
      gap: 20px;

    }

    .works-column {
      h1 {
        font-size: 52px;
        margin-bottom: 43px;
      }

      h2 {
        font-size: 30px;
        margin-bottom: 38px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: calc(100% - 100px);
  }

  header {
    nav {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }

  #hero {
    .container {
      background-position: 70%;
    }

    .hero-content {
      margin-left: 30px;
      flex-basis: 60%;

      h1 {
        font-size: 55px;
      }
    }

  }

  #collection {
    h1 {
      font-size: 40px;
    }

    .grid {
      margin: 0 3rem;
      grid-template-columns: 1fr;
      grid-template-rows: 200px;
    }

    .row {
      flex-direction: row;
    }

    .product {
      img {
        height: 193px;
        flex-basis: 40%;
        margin-bottom: 0;
      }

      .product-content {
        width: 60%;
        text-align: left;
      }
    }
  }

  #quality {
    .quality-content {
      height: 420px;
    }

    .quality-types {
      margin-top: -220px;
      gap: 10px;

      .type {
        height: 130px;

        .type-info {
          flex-basis: 80%;
        }
      }
    }
  }

  #work {
    margin-bottom: 79px;

    .lines {
      display: none;
    }

    .row {
      gap: 50px;
      flex-direction: column;
    }

    h2 {
      margin-bottom: 80px;
      text-align: center;
    }

    .works-column {
      font-family: 'Fraunces', serif;
      font-weight: 900;
      text-align: center;
      width: 80%;

      h1 {
        font-size: 42px;
        margin-bottom: 24px;
      }

      h2 {
        font-size: 25px;
        margin-bottom: 24px;
      }
    }
  }

  .plan-btn {
    margin-bottom: 120px;
    text-align: center;
  }

  footer {
    padding: 54px 0;

    .row {
      flex-direction: column;
    }

    .site-logo {
      margin-bottom: 2rem;
    }

    ul li {
      margin-bottom: 65px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: calc(100% - 50px);
  }

  #hero {
    .hero-content {
      h1 {
        font-size: 42px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  .btn {
    padding: 12px 22px;
  }

  aside {
    i {
      font-size: 1.5rem;
    }
  }

  #collection {
    .row {
      flex-direction: column;
    }

    .grid {
      grid-template-rows: 300px;
      row-gap: 30px;
    }

    .product {
      .product-content {
        text-align: center;
      }
    }
  }

  #quality {
    .quality-content {
      height: 420px;

      p {
        width: 90%;
      }
    }

    .quality-types {
      margin-top: -180px;
      gap: 10px;

      .type {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;

        img {
          flex-basis: 30%;
          margin-bottom: 1rem;
        }

        .type-info {
          flex-basis: 60%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: calc(100% - 40px);
  }
  header {
    .site-logo {
      h2 {
        font-size: 1.4rem;
      }
    }
  }
  #hero {
    .hero-content {
      margin-left: 20px;
      flex-basis: 65%;
      h1 {
        font-size: 35px;
      }

      p {
        font-size: 15px;
      }

      a {
        padding: 10px 18px;
      }
    }
  }
  #quality {
    .quality-content {
      margin-bottom: 2.5rem;
    }
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: calc(100% - 25px);
  }
}