@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Fraunces:opsz,wght@9..144,900&family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Fraunces:opsz,wght@9..144,900&family=Mochiy+Pop+One&family=Poppins:wght@500;600&display=swap');

:root {
  --hero-color: #FEFCF7;
  --btn-color: #0E8784;
  --body-color: #1f2e35;
  --header-color: #fff;
  --text-color: rgb(254, 253, 253);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  --body-color: #FEFCF7;
  --text-color: #333D4B;
  --header-color: #83888F;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #069c54; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #048654; 
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-color);
  font-family: 'Barlow', sans-serif;
  font-family: 'Poppins', sans-serif;
  transition: background-color .4s ease;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

i {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--header-color);
}

.scroll-header {
  transition: .5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
}
.scrolltop {
  position: fixed;
  right: 2.2rem;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: rgba(6,156,54, .5);
  border-radius: .4rem;
  z-index: 3;
  transition: .4s;
  visibility: hidden;
  font-size: 1.2rem;
}
.scrolltop:hover {
  background-color: 048654;
}
.scrolltop-item {
  font-size: 1.8rem;
  color: #fff;
}
.show-scroll {
  visibility: visible;
  bottom: 6rem;
}

header {
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0px;
  z-index: 2;
  transition: background-color .5s ease;
  background-color: var(--body-color);

  .container {
    line-height: 10vh;
  }

  nav {
    ul {
      @include flex;

      li {
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          color: var(--header-color);
        }
      }
    }
  }

  .hamburger {
    cursor: pointer;
    display: none;

    .line {
      width: 30px;
      height: 3px;
      margin: 5px;
      background-color: var(--text-color);
    }
  }

  .progress-container {
    width: 100%;
    height: 3px;
    background: #ccc;
    position: relative;
    bottom: 5px;
  }

  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 3px;
    background: #04AA6D;
    width: 0%;
  }
}
.site-logo {
  @include flex;

  img {
    margin-right: 2%;
  }

  h2 {
    font-family: "Fraunces", serif;
    letter-spacing: 0.4px;
    font-weight: 900;
    color: var(--text-color)
  }
}

/* Header end */
aside {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 5;
  transition: all .5s ease;
  background-color: var(--body-color);
  color: var(--text-color);

  i {
    font-size: 3rem;
  }

  .bx-moon,
  .bxs-sun {
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .bxs-home-alt-2 {
    position: absolute;
    top: 5%;
    right: 5%;
  }

  ul {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
      height: 80px;
    }

    a {
      font-size: 20px;
      color: var(--text-color);
      &:hover {
        transition: .3s ease;
        color: #04AA6D;
      }
    }
  }

  &.close {
    top: -100%;
  }

  &.asideOpen {
    top: 0;
  }

}

/*  Hero start*/
#hero {
  height: 90vh;
  margin-bottom: 43px;
  @include flex();

  .container {
    height: 85vh;
    background-image: url('/img/hero.png');
    background-repeat: no-repeat;
    background-position: 60%;
  }

  .row {
    height: 100%;
  }

  .hero-content {
    flex-basis: 50%;
    align-self: center;
    justify-self: center;
    margin-left: 35px;
    color: var(--hero-color);

    h1 {
      font-size: 72px;
      font-family: 'Fraunces', serif;
      margin-bottom: 2rem;
    }

    p {
      font-family: 'Barlow', sans-serif;
      font-weight: 400px;
      margin-bottom: 56px;
    }
  }
}

.btn {
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  background-color: var(--btn-color);
  color: var(--hero-color);
}

/* Collection start */
#collection {
  height: 85vh;
  position: relative;
  color: var(--text-color);
  margin-bottom: 144px;

  h1 {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 70px;
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);

  }

  .grid {
    height: 100%;
    /*     position: relative;
    z-index: 2; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 398px;
    gap: 20px;
  }

  .row {
    flex-direction: column;
    justify-content: center;
  }

  .product {
    img {
      margin-bottom: 30px;
    }

    .product-content {
      text-align: center;
      width: 80%;

      h2 {
        font-family: 'Fraunces', serif;
        margin-bottom: 24px;
      }

      p {
        font-family: 'Barlow', serif;
      }
    }
  }
}

#quality {
  height: 728px;
  margin-bottom: 100px;

  .quality-content {
    height: 450px;
    background-color: #2C343E;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1rem;

    h1 {
      line-height: 4;
    }

    p {
      width: 80%;
      margin: 0 auto;
    }
  }

  .quality-types {
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    margin-top: -250px;

    .type {
      padding: 10px;
      height: 350px;
      @include flex;
      flex-direction: column;
      text-align: center;
      background-color: #0E8784;
      color: var(--text-color);
      border-radius: 10px;

      img {
        margin-bottom: 26px;
      }
      .truck {
        width: 72px;
        padding-bottom: 22px;
       }
      h2 {
        margin-bottom: 24px;
      }
    }
  }
}

#work {
  height: 565px;
  margin-bottom: 65px;

  h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--text-color);
    margin-bottom: 80px;
  }

  .lines {
    height: 40px;
    position: relative;
    margin-bottom: 65px;

    .line {
      width: 70%;
      height: 1px;
      background-color: #FDD6BA;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .circle {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      border: 1px solid #0E8784;
      background-color: var(--body-color);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:first-child {
        left: 0;
      }

      &:nth-child(2) {
        left: 35%;
      }

      &:last-child {
        left: 70%;
      }
    }

  }

  .row {
    gap: 95px;

  }

  .works-column {
    font-family: 'Fraunces', serif;
    font-weight: 900;

    h1 {
      font-size: 72px;
      color: #FDD6BA;
      margin-bottom: 38px;
    }

    h2 {
      font-size: 32px;
      margin-bottom: 43px;
    }

    h2,
    p {
      color: var(--text-color);
    }

    p {
      font-family: 'Barlow', serif;
      font-weight: 400;
    }
  }
}

.plan-btn {
  margin-bottom: 200px;
}

footer {
  padding: 47px 0;

  .site-logo {
    height: 30px;
  }

  ul li a {
    color: var(--text-color);
    transition: .3s ease;

    &:hover {
      color: blue;
    }
  }

  li,
  i {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  i {
    font-size: 1.8rem;

    &:first-child {
      color: #4267B2;
    }

    &:nth-child(2) {
      color: #1DA1F2;
    }

    &:last-child {
      color: #d62976;
    }
    &:hover {
      opacity: .9;
    }
  }
}